<script>
  function emi_kodo(percentage, amount){
    a = new Array();
    r = percentage/12/100;
    b = [3, 6, 12, 36, 60];
    for(i = 0; i<b.length; i++){
      var x ;
      x = (amount*r*(Math.pow((1+r), b[i])))/(Math.pow((1+r), b[i])-1)
      a[i] = x;
    }
    return a;
  }
  c = emi_kodo(10, 10000);
  
</script>

<ion-view title="Genie" >
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-avatar"> 
        <!-- The item which is selected from the main screen. -->
        <img src="{{item.url}}">
        <h2>{{item.name}}</h2>
        <p>{{item.emi}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="{{item.url}}">
        <p>
          {{item.description}}
        </p>
      </div>
    </div>
    <div class="card">
      <div class="list">
        <!-- The offers which are available for this user + this product. Emi is got from the server side. -->
        <a class="item item-avatar" href="{{offer.url}}" ng-repeat="offer in item.offers">
          <img src="{{offer.image}}">
          <h2>{{offer.name}}</h2>
          <p>{{offer.emi}}</p>
        </a>
      </div>
    </div>
    <button class="button button-royal button-full">
      + Apply Now
    </button>
  </ion-content>
</ion-view>
