<div class="modal" ng-controller="LoginCtrl">
  <ion-header-bar>
    <!-- <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div> -->
    <div class="bar bar-header item-input-inset">
      <button ng-click="doBarcode();" class="button button-royal ion-levels" style="margin-right:3px;"></button>
  <label class="item-input-wrapper">
    <i class="icon ion-ios7-search placeholder-icon"></i>
    <input type="search" placeholder="Search" ng-keyup = "keyPressed1(event);">
  </label>
  <button class="button button-clear" ng-click="closeLogin();">
    Cancel
  </button>
</div>
  </ion-header-bar>
  <ion-content>
    <!-- <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-assertive" type="submit">Log in</button>
        </label>
      </div>
    </form> -->
    <!--div class="card box-recommended">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/quadcopter.jpg">
      <h2>Quadcopter</h2>
      <p>Nine Inch Nails</p>
      <span class="recommended">Recommended</span>
      <span class="emi">EMI: 12%</span>
    </a>
</div>
<div class="card box-recommended">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/quadcopter.jpg">
      <h2>Quadcopter</h2>
      <p>Nine Inch Nails</p>
      <span class="recommended">Recommended</span>
      <span class="emi">EMI: 12%</span>
    </a>
</div-->
	
	<div class="card" ng-repeat="i in results  track by $index" ng-click="add({{i.id}});closeLogin();" >
		<a class="item item-thumbnail-left" href="#">
			<img src="{{i.url}}">
			<h2>{{i.name}}</h2>
			<p>{{i.company}}</p>
			<span class="emi">EMI: {{i.emi}}</span>
		</a>
	</div>
	<div id = "recomended" style ="display:block">
		<div class="card box-recommended"  ng-repeat="i in recomended track by $index" ng-click="closeLogin();addr({{i.id}}); ">
			<a class="item item-thumbnail-left" href="#">
			  <img src="img/quadcopter.jpg">
			  <h2>{{i.name}}</h2>
			  <p>{{i.company}}</p>
			  <span class="recommended">Recommended</span>
			  <span class="emi">EMI: {{i.emi}}</span>
			</a>
		</div
	</div>
  </ion-content>
</div>
