<ion-view title="Genie">
  <ion-content class="padding">
  <div class="card">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/quadcopter.jpg">
      <h2>Quadcopter</h2>
      <p>Nine Inch Nails</p>
      <span class="emi badge badge-royal">EMI: 12%</span>
    </a>
</div>
<div class="card">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/quadcopter.jpg">
      <h2>Quadcopter</h2>
      <p>Nine Inch Nails</p>
      <span class="emi badge badge-royal">EMI: 12%</span>
    </a>
</div>
  <button class="button button-royal" style="width:100%;">
  + Add</button>
  
	<!-- <div class="bar bar-footer">
  <button class="button button-clear pull-right">Right</button>
</div> -->
  </ion-content>
</ion-view>
