<ion-view title="Genie">
  <ion-content class="padding">
  <div class="card box-good-buy">
    <a class="item item-thumbnail-left" href="#/tab/applyemi">
      <img src="img/quadcopter.jpg">
      <h2>Quadcopter</h2>
      <p>Nine Inch Nails</p>
      <span class="emi">EMI: 12%</span>
    </a>
</div>
<div class="card">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/quadcopter.jpg">
      <h2>Quadcopter</h2>
      <p>Nine Inch Nails</p>
      <span class="emi">EMI: 12%</span>
    </a>
</div>
  <button ng-click="login();" class="button button-royal button-full">
  + Add</button>
  
	<!-- <div class="bar bar-footer">
  <button class="button button-clear pull-right">Right</button>
</div> -->
  </ion-content>
</ion-view>
