<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.wishlist350047" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>WishList</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">
      Ionic Framework Team
    </author>

  <!--Android Icons-->
  <icon src="icons/android/icon-36-ldpi.png" />
  <icon src="icons/android/icon-48-mdpi.png" />
  <icon src="icons/android/icon-72-hdpi.png" />
  <icon src="icons/android/icon-96-xhdpi.png" />

  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>