/* Empty. Add your own CSS if you like */
.emi{
	font-size:14px;
	font-style: italic;
	float:right;
}

.recommended{
	font-size: 12px;
	color:orange;
	font-weight: bold;
	font-style: italic;
}

.box-recommended{
	box-shadow: 0px 0px 10px 2px rgba(231,166,26,1)!important;
}

.box-good-buy{
	box-shadow: 0px 0px 10px 2px rgba(27, 163, 75, 1)!important;
}

.title{
	background: 30% 1px url("../img/genie-invisible.png") no-repeat!important;
	background-size:40px 40px!important;
}

.removeslide{
	position: absolute;
	top:10px;
	right:10px;
	font-size:40px;
}